body {
            font-family: sans-serif;
            background: #ffffff;
            padding: 20px;
        }

        .headlabel, .subhdlabel, .deschead {
            color: #000000;
            width: 100vw;
            display: flex;
            justify-content: center;
        }

        .headlabel {
            font-size: 30px;
        }

        .subhdlabel {
            font-size: 25px;
        }

        .deschead {
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;

        }

        .hline, .shline {
            width: 50%;
        }

        .desc {
            color: #000000;
            font-size: 18px;
            font-family: monospace;
             margin-left:15%;
            margin-right:15%;
        }

        ul {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        li {
            margin-bottom: 6px;
        }
        .descgroup {
            display:flex;
            flex-direction:column;
           


        }